.map-canvas {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;

  opacity: 0;

  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}
